:root {
    --logo-font: 'Lobster', cursive;
    --main-background-color: #F5F6EA;
    --font-color: #D54215;
    --accent-color: #F7AF30;
    --main-font: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-background-color);
    font-family: var(--main-font);
    margin-top: 100px;
    margin-bottom: 60px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family: var(--logo-font);
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: white;
    color: var(--font-color);
    text-shadow: 2px 2px 5px black;
    border-bottom: 4.5px solid var(--accent-color);
}

nav {
    display: flex;
    flex-direction: row;
    
}

.sidenav-trigger {
    padding-left: 20px;
}

.fas {
    font-size: 38px;
    font-style: normal;
    color: var(--font-color);
    text-shadow: 1px 1px 3px var(--accent-color);
}

h1 {
    padding-right: 20px;
    margin-top: 0;
    font-size: 90px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 15px;
    font-family: var(--main-font);
    border-top: 4.5px solid var(--accent-color);
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.user-view {
    width: auto;
    height: 184px;
}

.background {
    width: 300px;
    height: 200px;
}

.background img {
    width: 100%;
    height: auto;
}

.divider {
    background: linear-gradient(90deg, rgba(213,66,21,1) 51%, rgba(247,175,48,1) 80%, rgba(247,175,48,0) 100%);
    width: 80%;
    height: 4.5px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#divider {
    background: linear-gradient(90deg, rgba(213,66,21,1) 51%, rgba(247,175,48,1) 80%, rgba(247,175,48,0) 100%);
    height: 3px;
    width: 80%;
    margin-left: 5px;
}

#main-header {
    margin-bottom: 4px;
}

#results {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;
}

#label {
    font-family: var(--logo-font);
    font-size: 30px;
    color: var(--font-color);
    text-shadow: 1px 2px 2px black;
    width: 80%;
}

#recipe {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

#recipe-interior {
    display: flex;
    flex-direction: row;
}

#info-box {
    display: flex;
}

/* #image-box {
    display: inline-block;
    overflow: visible;
} */

#image {
    width: auto;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--font-color);
    margin-bottom: 60px;
}

#info {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#random-recipes {
    font-size: 30px;
    margin-bottom: 4px;
}

#main-header {
    font-size: 30px;
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#search-button {
    margin-left: 15px;
    height: 35px;
    width: 120px;
    font-family: var(--logo-font);
    font-size: 30px;
    color: var(--font-color);
    text-shadow: 1px 2px 2px black;
}

#search-field {
    border-bottom: 0px solid var(--font-color);
    box-shadow: 0 0px 0 0 var(--accent-color);
}